@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap');

.navBar {
  font-family: 'Gaegu', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 1px 1px 5px #6291D8;
}
.nav-button:active {
  color: #6291D8;
}

.nav-button {
  color: "#B2DBD7",
}